<h1>Character Details</h1>

<div class="detail-container">
  <h2><%= @person["name"] %></h2>
  <p><strong>Gender:</strong> <%= @person["gender"] %></p>
  <p><strong>Birth Year:</strong> <%= @person["birth_year"] %></p>
  <p><strong>Height:</strong> <%= @person["height"] %> cm</p>
  <p><strong>Mass:</strong> <%= @person["mass"] %> kg</p>
</div>
