<h1>Vehicle Details</h1>

<div class="detail-container">
  <h2><%= @vehicle["name"] %></h2>
  <p><strong>Model:</strong> <%= @vehicle["model"] %></p>
  <p><strong>Manufacturer:</strong> <%= @vehicle["manufacturer"] %></p>

  <h3>Pilots</h3>
  <ul>
    <% @pilots.each do |pilot| %>
      <% pilot_id = pilot["url"].split("/").last %>
      <li><%= link_to pilot["name"], person_path(pilot_id), data: { show_spinner: true, turbo: "false"  } %></li>
    <% end %>
  </ul>

  <h3>Films</h3>
  <ul>
    <% @films.each do |film| %>
      <% film_id = film["url"].split("/").last %>
      <li><%= link_to film["title"], film_path(film_id), data: { show_spinner: true, turbo: "false"  } %></li>
    <% end %>
  </ul>
</div>
